<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>

    <%- include('./partials/header.ejs') %>
    <div class="px-20 w-full h-screen">
        <h1 class="text-xl font-bold mb-3">hisaab of <span class="text-blue-500"> <%= date %> </span> date</h1>
        <h1 class="text-xl mb-1"><%= title %></h1>
        <h1 class="text-xl mb-2"><%= details %></h1>
        <a class="text-zinc-500" href="/edit/<%= filename %>">Edit Hisaab</a>
    </div>
    
</body>
</html>